<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link type="text/css" href="css/structureMain.css" rel="stylesheet" />
<link type="text/css" href="css/appearMain1.css" rel="stylesheet" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ZHU Xinyu">
<title>Template</title>
</head>

<body>
   <div id="hnm">
    <header>
   	<div id="logo">
        <nav>
        	<ul id="navbar">
            	<li><a href="#">Link1</a></li>
                <li><a href="#">Link2</a></li>
                <li class="selected"><a href="#">Link3</a></li>
                <li><a href="#">Link4</a></li>
            </ul>             
        </nav>
      </div>
    </header>
    
    <main>
        <section class="segment">
        <h2 class="little_title">Little title</h2>
        <p>
        Paragraph
        </p>
        </section>
     		<hr class="seg_rule"/>
        <section class="segment">
        <h2 class="little_title">Little title</h2>
       
        <h4 class="skretch_title">Skretch Title</h4>
        <p>
        Some introduction
        </p>
        </section>
        
        	<hr class="seg_rule"/>
        <section class="segment">
        <h2 class="little_title">Little title</h2>
       
        <h4 class="skretch_title">Skretch Title</h4>
        <p>
            <ul class="special_list">
                <li><a href="http://download.cnet.com/Just-Color-Picker/3000-2191_4-10428271.html">Just Color Picker. To help you pick color. (Windows)</a></li>
                <li><a href="https://itunes.apple.com/us/app/just-color-picker/id886547068?mt=12">Just Color Picker. To help you pick color. (MAC)</a></li>
                <li><a href="#">List Item</a></li>
            </ul>
        </p>
        
        <div class="window_box">
            <h3>Window Box</h3>
                <p>Introduction</p>
                <div class="window_box_cover">
            <img src="image/colorBack.jpg" height="140" />
            	</div>
        </div>
        
        </section>
        
    
    <pre>
    
    
    
    
    
    </pre>
    </main>
  </div>
  
    <footer>
    <hr class="designer"/>
    <hr class="designer2"/>
      <div class="designer_info">
            <table align="center">
              <tr>
                <td>
                <img src="image/UST.png" width="40"/></td>
                <td>
                &#169 2015-2016 This webpage is designed by ZHU Xinyu, student of HKUST<br />
                E-mail address: <a href="mailto:xzhuah@connect.ust.hk">xzhuah@connect.ust.hk</a><br />
                </td>
              </tr>
            </table>
       </div>
       
    </footer>
    
</body>
</html>
